[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=$HOME/bin/startaardvark
Name=START AARDVARK
Icon=$HOME/Pictures/chevron_yellowgold.jpg
