[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/edger/bin/startaardvark
Name=START AARDVARK
Icon=/home/edger/Pictures/chevron_yellowgold.jpg
