[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=firefox http://localhost:8080
Name=START BROWSER
Icon=$HOME/Pictures/chevron_yellowgold.jpg
